# Python Basics for Data Science
### IBM: PY0101EN
### Horacio Enriquez Nares
#### Started on 02/13/2020

## Module 1 - Python Basics

### Your First Program

In [1]:
# Print Hello World
print("Hello World")

In [2]:
# Print Hello World on two lines
print("Hello \nWorld!")

In [3]:
# This is a comment -> No output displayed
# print('Hello World!')

In [4]:
# Check the Python Version

import sys
print(sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

### Types

#### Strings

Any text (character) between " "

In [5]:
type("Hello World")

str

In [6]:
type("1.1")

str

#### Integers

Any natural number with out decimal

In [7]:
int("1")

1

In [8]:
type(1)

int

#### Float

Any natural number

In [9]:
float(1)

1.0

In [10]:
type(1.1)

float

#### Boolean

Only True o False expresion

In [11]:
type(True)

bool

In [12]:
type(False)

bool

In [13]:
bool(1)

True

### Expressions and Variables

Expressions are operations that Python performs. Such as basic arithmetic operations (+, -, *, /..)

Order:
1) Parentheses
2) Multiplication and Division
3) Addition and Subtraction

We can use variables to store values using the equal sign. Such as -> x = 15

In [14]:
x = 15
x

15

x now stores the result. We can also perform operations on x and save the result to a new variable y. -> y = x/5

In [15]:
y = x/5
y

3.0

We can also perform operations on x and assign the value x. The old value of x is not important...

In [16]:
x = x*2
x

30

### String Operations

In Python, a string is a sequence of characters. A string is contained within two quotes: You could also use single quotes. A string can be spaces, or digits.

A string can also be special characters. We can bind or assign a string to another variable. It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers.

In [17]:
string = "My name is Horacio!"

In [18]:
string[0]

'M'

In [19]:
string[-1]

'!'

In [20]:
len(string)

19

#### Concatenate strings

In [21]:
string = string + ", and I am 24 years old"
string

'My name is Horacio!, and I am 24 years old'

#### Method

In [22]:
method_example = string.upper()
method_example

'MY NAME IS HORACIO!, AND I AM 24 YEARS OLD'

In [23]:
method_example = string.replace("Horacio","HORA")
method_example

'My name is HORA!, and I am 24 years old'

In [24]:
# Get every second element. The elments on index 1, 3, 5 ...

method_example[::2]

'M aei OA,adIa 4yasod'

In [25]:
# Get every second element in the range from index 0 to index 4

method_example[0:5:2]

'M a'

In [26]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [27]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [28]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [29]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [30]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [31]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [32]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [33]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('el')

5

In [34]:
# If cannot find the substring in the string then -1

Name.find('Jasdfasdasdf')

-1

## Module 2 - Python Data Structures

**Learning Objectives**

In this lesson you will learn about:
* Lists and Tuples 
* Sets
* Dictionaries 

Lists and tuples, these are called compound data types and are one of the key types of data structures in Python.

#### Tuples

Tuples are an ordered sequence. Tuples are expressed as comma-separated elements within parentheses.

In [35]:
Ratings = (10,9,6,5,10,8)
Ratings

(10, 9, 6, 5, 10, 8)

In Python, there are different types: strings, integer, float.

They can all be contained in a tuple, but the type of the variable is tuple.

In [36]:
Tuple1 = ("disco",10,1.2)
print(Tuple1)
print(type(Tuple1))

('disco', 10, 1.2)
<class 'tuple'>

In [37]:
Tuple1[0]

'disco'

In [38]:
Tuple1[-1]

1.2

Tuples are immutable, we can't. change any value

In [39]:
Tuple1[2] = 4

TypeError: 'tuple' object does not support item assignment

A tuple can contain other tuples as well as other complex data types; this is called nesting

In [ ]:
NT = (1,2,("pop","rock"),(3,4),"disco",(1,2))
NT

In [ ]:
print(NT[0])
print(NT[2])
print(NT[-1])

We can visualize this nesting as a tree.

In [ ]:
print(NT[2][1])

In [ ]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
NestedT

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestOne.png" width="750" align="center">

In [ ]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

We can use the second index to access other tuples as demonstrated in the figure:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestTwo.png" width="750" align="center">

In [ ]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

In [ ]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

In [ ]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

 We can use a tree to visualise the process. Each new index corresponds to a deeper level in the tree:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestThree.gif" width="750" align="center">

#### Lists

Lists are also a popular data structure in Python.

Lists are also an ordered sequence.

A list is represented with square brackets. -> [ ]

In [ ]:
L = ["Michael Jackson",10.1,1982]
L

Lists can contain strings, floats, integers.

We can nest other lists.

We also nest tuples and other data structures; the same indexing conventions apply for nesting.

In [ ]:
print(L[0])
print(L[-1])

Lists are mutable, therefore, we can change them.

In [ ]:
L[0] = "Horacio"
L

**Clone List**

In [ ]:
A = ["hard rock",20,1.2]
A

In [ ]:
B = A
B

In [ ]:
A[0] = "pop"
print(A)
print(B)

In [ ]:
C = A[:]
C

In [ ]:
A[0] = "latino"
print(A)
print(B)
print(C)